.balance-detail2 {

    a,
    p {
        margin: 0;
        padding: 0;
    }

    .status {
        padding: 8px 20px;
        width: max-content;
        border-radius: 10px;
        font-size: 14px;

        &.Balance,
        &.balance,
        &.Completed,
        &.completed {
            background-color: #e9f7ef;
            color: #28a745 !important;
            margin: 0 !important;
        }

        &.Excess,
        &.excess {
            background-color: #A60BCD80;
            color: white !important;
        }

        &.Outstanding,
        &.outstanding {
            background-color: #fdd9e1;
            color: #f4406b !important;
        }
    }

    .btn-tracking {
        font-size: 14px;
        color: #524FA0;
        font-weight: 400;
    }

    .btn-selesai {
        font-size: 14px;
        color: white;
        font-weight: 400;
    }

    .right-side {
        display: flex;
        align-items: center;
        background-color: white;
        border: 1px solid #524fa0;
        border-radius: 10px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;

        i {
            font-size: 18px;
            color: #524fa0;
        }

        a {
            display: flex;
            justify-content: center;
            align-self: center;
            font-size: 16px;
            border: none;
            color: #524fa0;

            button:hover {
                opacity: 0.9;
            }
        }
    }

    display: flex;
    flex-direction: column;
    padding: 30px 30px;

    .top-page {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-side {
            display: flex;
            gap: 10px;
            align-items: center;

            p {
                font-size: 20px;
                font-weight: 300;
                color: #354ebc;

                span {
                    font-weight: 500;
                    color: #354ebc;
                }
            }

            img {
                cursor: pointer;
            }
        }

        .right-side {
            display: flex;
            gap: 10px;
            align-items: center;
            background-color: white;
            border: 1px solid #524fa0;
            border-radius: 10px;
            padding: 11px 20px;

            i {
                font-size: 16px;
                color: #524fa0;
            }

            a {
                display: flex;
                justify-content: center;
                align-self: center;
                font-size: 14px;
                border: none;
                color: #524fa0;

                button:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    .box {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;

        p {
            font-size: 14px;
        }

        .group-text-1 {
            display: flex;
            gap: 20px;
            align-items: center;
            border-bottom: 1px solid $gray-border;

            .text-1 {
                font-size: 14px;
                font-weight: 400;
                color: black;
                padding-bottom: 5px;
            }

            .text-1.active {
                font-size: 14px;
                font-weight: 400;
                color: #408df0;
                border-bottom: 2px solid #408df0;
            }
        }

        .content-box {
            display: flex;
            flex-direction: column;

            .top-side {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-bottom: 15px;
                border-bottom: 1px solid $gray-border;

                .left-side {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    justify-content: start;

                    .text-2 {
                        font-size: 15px;
                        font-weight: 400;
                        color: #686868;
                    }

                    .text-3 {
                        font-size: 18px;
                        color: #408df0;
                    }
                }

                .right-side {
                    display: flex;
                    gap: 20px;

                    .button {
                        .text-5 {
                            background-color: #d2d2d2;
                            text-decoration: none;
                            color: black;
                            width: 120px;
                            padding: 7px 15px;
                            border-radius: 10px;
                            margin-top: 5px;
                            text-align: center;
                        }

                        .text-6 {
                            background-color: #f4406b;
                            text-decoration: none;
                            color: white;
                            width: 120px;
                            padding: 7px 25px;
                            border-radius: 10px;
                            margin-top: 5px;
                            text-align: center;
                            white-space: nowrap;
                            width: 150px;
                        }
                    }
                }
            }

            .bottom-side {
                display: flex;
                width: 100%;
                margin-top: 20px;

                .left-bottom,
                .right-bottom {
                    width: 50%;
                    display: flex;

                    .left-text {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        gap: 10px;

                        .text-1 {
                            color: #686868;
                            font-size: 14px;
                        }
                    }

                    .right-text {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        gap: 10px;

                        .text-2 {
                            color: black;
                            font-size: 14px;
                        }
                    }
                }
            }

            .bottom-side2 {
                display: flex;
                width: 100%;
                margin-top: 20px;

                .left-bottom {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    p {
                        color: #686868;
                        font-size: 15px;
                        margin-bottom: 5px;
                    }

                    img {
                        width: 125px;
                    }
                }

                .right-bottom {
                    width: 50%;
                    display: flex;
                    gap: 20px;
                    justify-content: end;
                    align-items: end;

                    .context {
                        width: 50%;

                        p {
                            color: #686868;
                            font-size: 15px;
                        }

                        input {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #354ebc;
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }

        .table-box {
            background-color: white;
            border-radius: 15px;
            overflow: auto;
            box-sizing: border-box;
            position: relative;

            .dataTables_paginate .paginate_button a {
                border: none;
                padding: 2px 8px;
                margin: 0 2px;
                color: black;
                border: 1px solid #d9d9d9;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                align-self: center;
                border: 1px solid #d9d9d9;
                border-radius: 3px;
            }

            .dataTables_paginate .paginate_button a:hover {
                background-color: #fafafa;
            }

            .dataTables_paginate .paginate_button.active a {
                color: black;
                background-color: transparent;
                border: 1px solid #408df0;
                border-radius: 3px;
            }

            .dataTables_paginate {
                margin-top: 10px;
                margin-right: 10px;
                border: none;
            }

            .dataTables_paginate .paginate_button a:focus,
            .dataTables_paginate .paginate_button a:active {
                background-color: transparent;
                outline: none;
                box-shadow: none;
            }

            .dataTables_paginate .paginate_button:contains("…") a {
                border: none;
            }

            .dataTables_paginate {
                margin-top: 20px;
                margin-right: 20px;
            }

            .dataTables_info {
                font-size: 13px;
                font-weight: 400 !important;
                color: #666666;
                position: absolute;
                margin-top: 10px !important;
            }

            .menu-button {
                position: relative;
                text-align: center;
                display: flex;
                gap: 15px;
                justify-content: center;
                font-size: 18px;
            }

            .ellipsis-container {
                position: relative;
                display: flex;
            }

            .ellipsis-button {
                background: none;
                border: none;
                cursor: pointer;
                text-align: center;
                display: flex;
                padding: 0;
            }

            .modal-ellipsis {
                position: absolute;
                flex-direction: column;
                top: -40px;
                right: 25px;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                display: none;
                z-index: 1;

                a {
                    color: black;
                    white-space: nowrap;
                    font-weight: 300;
                }

                div {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 15px;
                }

                div:hover {
                    background-color: #FAFAFA;
                    border-radius: 10px;
                }
            }

            .status-express {
                padding: 10px;
                background-color: #FFA500;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-regular {
                padding: 10px;
                background-color: #1768F2;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-need-revision {
                padding: 10px;
                background-color: #fdd9e1;
                text-align: center;
                color: #F4406B;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-need-approve {
                padding: 10px;
                background-color: #F4406B;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-draft {
                padding: 10px;
                background-color: #D2D2D2;
                text-align: center;
                color: black;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-uncomplete {
                padding: 10px;
                background-color: #FFA500;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-complete {
                padding: 10px;
                background-color: #E9F7EF;
                text-align: center;
                color: #28A745;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-dash {
                padding: 10px;
                background-color: #D2D2D2;
                text-align: center;
                color: black;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-outstanding {
                padding: 10px;
                background-color: #fdd9e1;
                text-align: center;
                color: #F4406B;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-partial-outstanding {
                padding: 10px;
                background-color: #FFA500;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-balance {
                padding: 10px;
                background-color: #E9F7EF;
                text-align: center;
                color: #28A745;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            table {
                width: 100% !important;
                border-collapse: collapse;

                &.dataTable thead .sorting:before,
                &.dataTable thead .sorting_asc:before,
                &.dataTable thead .sorting_desc:before,
                &.dataTable thead .sorting_asc_disabled:before,
                &.dataTable thead .sorting_desc_disabled:before,
                &.dataTable thead .sorting:after,
                &.dataTable thead .sorting_asc:after,
                &.dataTable thead .sorting_desc:after,
                &.dataTable thead .sorting_asc_disabled:after,
                &.dataTable thead .sorting_desc_disabled:after {
                    color: #FAFAFA;
                }
            }

            th,
            td {
                border-bottom: 1px solid #ddd;
                padding: 20px 20px;
                text-align: left;
                font-size: 13px;
                white-space: nowrap;
            }

            th {
                background-color: #FAFAFA;
                font-weight: 400;
            }

            .modal-pencil {
                display: absolute;
                justify-content: center;
                align-items: center;
                background-color: #354EBC;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
            }
        }
    }
}