html,
body {
    overscroll-behavior: none;

    p,
    i {
        margin: 0;
        padding: 0;
    }

    font-family: "Poppins", sans-serif !important;

    button:disabled {
        opacity: 0.65;
    }
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;

    .text-1 {
        color: white;
        padding: 10px 20px;
        background-color: green;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 10px;
        text-decoration: none;
    }

    .text-2 {
        color: white;
        padding: 10px 20px;
        background-color: red;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }
}

/* Hide scrollbar for WebKit browsers */
// ::-webkit-scrollbar {
//     display: block;
//   }

//   /* Hide scrollbar for Firefox */
//   * {
//     scrollbar-width: none;
//   }

//   /* Optional: Make sure the element is still scrollable */
//   .scrollable-element {
//     overflow: auto;
//   }

.opacity-50 {
    opacity: 0.5;
}

.button-warning {
    background-color: #ffc107 !important;
    color: white !important;
}

.notifikasi {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100;
    display: none;

    .content-box {
        height: 60vh;
        overflow-y: scroll;
        /* or auto */
        scrollbar-width: none;
        /* For Firefox */

        .text-1 {
            font-size: 14px;
        }
    }

    .content-box::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Edge */
    }

    .card {
        z-index: 10;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        position: relative;

        .content-box {
            height: 60vh;
            overflow-y: auto;
        }

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid #dadefb;

            i {
                cursor: pointer;
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px 20px;
            cursor: pointer;
            border-top: 1px solid #dadefb;
        }

        .title {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px solid $gray-border;
            position: relative;
            cursor: pointer;

            img {
                position: absolute;
                right: 20px;
                top: 60px;
                cursor: pointer;
            }

            .group2 {
                display: flex;
                align-items: center;
                gap: 10px;

                .text-1 {
                    font-size: 20px;
                    font-weight: 500;
                    color: #ffc107;
                }
            }

            .group1 {
                display: flex;
                flex-direction: column;
                margin-left: 30px;
                margin-top: 2px;
                text-align: left;
                margin-right: 50px;

                .text-inside {
                    font-size: 16px;
                    font-weight: 400;
                    text-align: left;
                }

                .text-inside2 {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #686868;
                    text-align: left;

                    .circle-dot {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #3c7dd9;
                        margin-right: 10px;
                    }
                }
            }
        }

        .title:hover {
            background-color: #f4f3f8;
        }
    }
}

// .pop-up-warning {
//     position: fixed;
//     top: 20px;
//     right: 20px;
//     z-index: 100;
//     display: none;

//     .card {
//         z-index: 10;
//         background-color: #fff;
//         border-radius: 10px;
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//         max-width: 500px;
//         position: relative;
//         display: flex;

//         .title {
//             display: flex;
//             flex-direction: column;
//             padding: 20px;

//             img {
//                 position: absolute;
//                 right: 20px;
//                 top: 60px;
//                 cursor: pointer;
//             }

//             .fa-times {
//                 font-size: 20px;
//                 color: #aeaeae;
//                 position: absolute;
//                 right: 25px;
//                 top: 15px;
//                 cursor: pointer;
//             }

//             .group2 {
//                 display: flex;
//                 align-items: center;
//                 gap: 10px;

//                 .text-1 {
//                     font-size: 20px;
//                     font-weight: 500;
//                     color: #ffc107;
//                 }
//             }

//             .group1 {
//                 display: flex;
//                 flex-direction: column;
//                 margin-left: 30px;
//                 margin-top: 2px;
//                 text-align: left;
//                 margin-right: 50px;

//                 .text-inside {
//                     font-size: 16px;
//                     font-weight: 400;
//                     text-align: left;
//                 }

//                 .text-inside2 {
//                     display: flex;
//                     align-items: center;
//                     margin-top: 10px;
//                     font-size: 16px;
//                     font-weight: 500;
//                     color: #686868;
//                     text-align: left;

//                     .circle-dot {
//                         width: 10px;
//                         height: 10px;
//                         border-radius: 50%;
//                         background-color: #3c7dd9;
//                         margin-right: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }

// .pop-up-info {
//     position: fixed;
//     top: 20px;
//     right: 20px;
//     z-index: 100;
//     display: none;

//     .card {
//         z-index: 10;
//         background-color: #fff;
//         border-radius: 10px;
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//         max-width: 500px;
//         position: relative;
//         display: flex;

//         .title {
//             display: flex;
//             flex-direction: column;
//             padding: 20px;

//             img {
//                 position: absolute;
//                 right: 20px;
//                 top: 60px;
//                 cursor: pointer;
//             }

//             .fa-times {
//                 font-size: 20px;
//                 color: #aeaeae;
//                 position: absolute;
//                 right: 25px;
//                 top: 15px;
//                 cursor: pointer;
//             }

//             .group2 {
//                 display: flex;
//                 align-items: center;
//                 gap: 10px;

//                 .text-1 {
//                     font-size: 20px;
//                     font-weight: 500;
//                     color: #ffc107;
//                 }
//             }

//             .group1 {
//                 display: flex;
//                 flex-direction: column;
//                 margin-left: 30px;
//                 margin-top: 2px;
//                 text-align: left;
//                 margin-right: 50px;

//                 .text-inside {
//                     font-size: 16px;
//                     font-weight: 400;
//                     text-align: left;
//                 }

//                 .text-inside2 {
//                     display: flex;
//                     align-items: center;
//                     margin-top: 10px;
//                     font-size: 16px;
//                     font-weight: 500;
//                     color: #686868;
//                     text-align: left;

//                     .circle-dot {
//                         width: 10px;
//                         height: 10px;
//                         border-radius: 50%;
//                         background-color: #3c7dd9;
//                         margin-right: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }

// .pop-up-overdue {
//     position: fixed;
//     top: 20px;
//     right: 20px;
//     z-index: 100;
//     display: none;

//     .card {
//         z-index: 10;
//         background-color: #fff;
//         border-radius: 10px;
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//         max-width: 500px;
//         position: relative;
//         display: flex;

//         .title {
//             display: flex;
//             flex-direction: column;
//             padding: 20px;

//             img {
//                 position: absolute;
//                 right: 20px;
//                 top: 60px;
//                 cursor: pointer;
//             }

//             .fa-times {
//                 font-size: 20px;
//                 color: #aeaeae;
//                 position: absolute;
//                 right: 25px;
//                 top: 15px;
//                 cursor: pointer;
//             }

//             .group2 {
//                 display: flex;
//                 align-items: center;
//                 gap: 10px;

//                 .text-1 {
//                     font-size: 20px;
//                     font-weight: 500;
//                     color: #dc3545;
//                 }
//             }

//             .group1 {
//                 display: flex;
//                 flex-direction: column;
//                 margin-left: 30px;
//                 margin-top: 2px;
//                 text-align: left;
//                 margin-right: 50px;

//                 .text-inside {
//                     font-size: 16px;
//                     font-weight: 400;
//                     text-align: left;
//                 }

//                 .text-inside2 {
//                     display: flex;
//                     align-items: center;
//                     margin-top: 10px;
//                     font-size: 16px;
//                     font-weight: 500;
//                     color: #686868;
//                     text-align: left;

//                     .circle-dot {
//                         width: 10px;
//                         height: 10px;
//                         border-radius: 50%;
//                         background-color: #3c7dd9;
//                         margin-right: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }

// .pop-up-permission {
//     position: fixed;
//     top: 20px;
//     right: 20px;
//     z-index: 100;
//     display: none;

//     .card {
//         z-index: 10;
//         background-color: #fff;
//         border-radius: 10px;
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//         max-width: 500px;
//         position: relative;
//         display: flex;

//         .title {
//             display: flex;
//             flex-direction: column;
//             padding: 20px;

//             img {
//                 position: absolute;
//                 right: 20px;
//                 top: 60px;
//                 cursor: pointer;
//             }

//             .fa-times {
//                 font-size: 20px;
//                 color: #aeaeae;
//                 position: absolute;
//                 right: 25px;
//                 top: 15px;
//                 cursor: pointer;
//             }

//             .group2 {
//                 display: flex;
//                 align-items: center;
//                 gap: 10px;

//                 .text-1 {
//                     font-size: 20px;
//                     font-weight: 500;
//                     color: #dc3545;
//                 }
//             }

//             .group1 {
//                 display: flex;
//                 flex-direction: column;
//                 margin-left: 30px;
//                 margin-top: 2px;
//                 text-align: left;
//                 margin-right: 50px;

//                 .text-inside {
//                     font-size: 16px;
//                     font-weight: 400;
//                     text-align: left;
//                 }

//                 .text-inside2 {
//                     display: flex;
//                     align-items: center;
//                     margin-top: 10px;
//                     font-size: 16px;
//                     font-weight: 500;
//                     color: #686868;
//                     text-align: left;

//                     .circle-dot {
//                         width: 10px;
//                         height: 10px;
//                         border-radius: 50%;
//                         background-color: #3c7dd9;
//                         margin-right: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }

// .pop-up-konfirmasi {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background-color: rgba(0, 0, 0, 0.5);
//     z-index: 100;
//     justify-content: center;
//     align-items: center;
//     display: none;

//     .card {
//         max-width: 500px;

//         .top {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             padding: 15px;
//             border-bottom: 1px solid #dadefb;
//             color: #354ebc;
//             font-size: 18px;
//             position: relative;

//             p {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }

//             i {
//                 color: gray;
//                 position: absolute;
//                 right: 20px;
//                 cursor: pointer;
//             }

//             .button-label {
//                 padding: 10px 20px;
//                 background-color: #ffc107;
//                 border-radius: 10px;
//                 color: white;
//                 cursor: pointer;

//                 i {
//                     margin-right: 5px;
//                 }
//             }
//         }

//         .title {
//             display: flex;
//             justify-content: center;
//             padding: 20px;
//             font-size: 15px;
//             color: black;
//             font-weight: 400;
//             border-bottom: 1px solid #dadefb;
//         }

//         .buttons {
//             display: flex;
//             justify-content: center;
//             width: 100%;
//             gap: 10px;
//             padding: 15px;

//             .batal {
//                 background-color: white;
//                 color: black;
//                 border-radius: 8px;
//                 cursor: pointer;
//                 border: 1px solid $gray-border;
//                 padding: 5px;
//                 width: 100%;
//             }

//             .iya {
//                 padding: 5px;
//                 width: 100%;
//                 background-color: #4259c1;
//                 color: white;
//                 border-radius: 8px;
//                 cursor: pointer;
//                 border: none;
//             }
//         }
//     }
// }

.wrapper {
    display: flex;
    width: 100%;
}

.bg {
    position: fixed;
    background-color: $primary;
    z-index: 0;
    width: 50%;
    height: 100vh;
    padding-bottom: 130px;
    overflow-y: auto;
    overflow-x: hidden;

    .container-close-sidebar {
        display: flex;
        flex-direction: column;
        width: 75px;
    }

    .container-close-sidebar.shifted {
        display: none;
        flex-direction: column;
        width: 75px;
    }

    .container-open-sidebar {
        display: none;
        flex-direction: column;
        width: 235px;
    }

    .container-open-sidebar.shifted {
        display: flex;
        flex-direction: column;
        width: 235px;
    }

    .user-default {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        margin: auto;
        margin-top: 35px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .user-default2 {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        margin: auto;
        margin-top: 35px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .user-default2.shifted {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: auto;
        margin-top: 35px;
    }

    .icon-sidebar {
        margin-top: 40px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-bottom: 70px;
    }

    .icon-close-dashboard {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    .icon-close-dashboard2 {
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .arrow {
        margin-left: -5px;
        padding: 0;
    }

    .arrow2 {
        margin-left: auto;
        padding: 0;
        transition: transform 0.3s ease;
    }

    .outer-icon {
        display: flex;
        transition: transform 0.3s ease;
        align-items: center;
        width: 100%;
        padding-top: 7px;
        padding-left: 20px;
        padding-bottom: 10px;
        border-radius: 20px 0 0 20px;
        cursor: pointer;
    }

    .outer-icon2 {
        display: flex;
        transition: transform 0.3s ease;
        align-items: center;
        width: 100%;
        padding-top: 7px;
        padding-left: 20px;
        padding-bottom: 10px;
        border-radius: 20px 0 0 20px;
        cursor: pointer;
    }

    .outer-icon-active {
        background-color: rgb(37, 127, 172);
    }

    .outer-icon-active2 {
        // transform: translateX(5px);
        background-color: rgba(0, 0, 0, 0.2);
    }

    // .outer-icon2:hover {
    //     transform: translateX(5px);
    //     background-color: rgba(0, 0, 0, 0.2);
    // }

    .outer-icon:not(.outer-icon-active):hover {
        transform: translateX(5px);
        background-color: rgba(0, 0, 0, 0.2);
    }

    .group-icon {
        display: flex;
        width: 190px;
        align-items: center;
        gap: 10px;

        p {
            font-size: 15px;
            font-weight: 400;
            color: $white;
            margin: 0;
            text-align: center;
        }
    }

    .group-icon2 {
        display: flex;
        width: 190px;
        align-items: center;
        margin-left: 30px;

        p {
            font-size: 15px;
            font-weight: 400;
            color: $white;
            margin: 0;
            text-align: center;
        }
    }

    .logout {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-bottom: 20px;
        border-radius: 8px;
        background-color: #dc3545;
        cursor: pointer;
        padding: 12px 0;
    }

    .logout2 {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        border-radius: 8px;
        background-color: #dc3545;
        cursor: pointer;
        padding: 8px 0;

        p {
            color: white;
            align-items: center;
        }

        img {
            align-items: center;
            margin-right: 10px;
        }
    }

    .user {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name {
            color: $white;
            font-weight: 500;
        }

        .role {
            color: $gray-border;
            font-weight: 200;
            font-size: 14px;
        }
    }

    .sub-menu-transaksi,
    .sub-menu-master,
    .sub-menu-balance {
        display: none;
        transition: display 0.3s ease;
    }

    .sub-menu-transaksi.shifted {
        display: block;
        transition: display 0.3s ease;
    }

    .menu-transaksi.shifted {
        .arrow2 {
            transform: rotate(90deg);
        }
    }

    .sub-menu-master.shifted {
        display: block;
        transition: display 0.3s ease;
    }

    .menu-master.shifted {
        .arrow2 {
            transform: rotate(90deg);
        }
    }

    .sub-menu-balance.shifted {
        display: block;
        transition: display 0.3s ease;
    }

    .menu-balance.shifted {
        .arrow2 {
            transform: rotate(90deg);
        }
    }
}

.no-transition .content-wrapper {
    transition: none;
}

.no-transition .content {
    transition: none;
}

.content-wrapper {
    position: fixed;
    background-color: $gray-bg;
    height: 100vh; // Fix the height to be dynamic, minus the top offset
    z-index: 2;
    width: calc(100vw - 75px); // Keep the width as it is for layout
    left: 75px;
    top: 75px;
    transition: left 0.3s ease, width 0.3s ease;
    overflow-y: auto; // Ensure it is necessary for scrolling
    padding-bottom: 170px;
}

.content {
    position: absolute;
    z-index: 1;
    border-radius: 0 0 0 0;
    background: linear-gradient(to bottom, $primary 50%, $gray-bg 10%);
    height: max-content;
    width: calc(100vw - 75px);
    left: 75px;
    transition: left 0.3s ease, width 0.3s ease;

    ::-webkit-scrollbar {
        display: flex;
    }

    /* Hide scrollbar for Firefox */
    * {
        scrollbar-width: auto;
    }

    .top-bar {
        display: flex;
        padding: 25px 20px;
        padding-right: 42px;
        background-color: $white;
        border-radius: 30px 0 0 0;
        border-bottom: 1px solid $gray-border;
        justify-content: space-between;

        .notif-logo {
            position: relative;

            .number-badge {
                position: absolute;
                top: -5px;
                right: -8px;
                background-color: #ff485a;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                padding: 0;
                font-weight: 500;
                border: 1.5px solid white;
                cursor: pointer;
            }
        }
    }

    .icon-sidebar2 {
        margin-right: 20px;
        cursor: pointer;
    }

    .logo-texkleen {
        width: 140px;
        cursor: pointer;
    }

    .icon-notification {
        cursor: pointer;
    }
}

.content.shifted {
    left: 235px;
    width: calc(100vw - 235px);
}

.content-wrapper.shifted {
    left: 235px;
    width: calc(100vw - 235px);
}

.container-close-sidebar.shifted {
    width: 235px;
}

.invalid-feedback {
    display: block !important;
}
