.master-mesin-add {
    margin: 40px;

    p,
    h1 {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: none;
        color: white;
    }

    input[type="date"] {
        // border: none;
        font-size: 16px;
        color: $gray-dark;
        background-color: white;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 10px;
        padding-top: 10px;
        font-weight: 400;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
    
    /* For Internet Explorer 11 and below (if support is needed) */
    input[type="date"]::-ms-clear {
        display: none;
    }

    .pop-up-simpan {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: none;
        justify-content: center;
        align-items: center;

        .card {
            z-index: 10;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            padding: 0px 50px;
            box-sizing: border-box;
            position: relative;

            .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                padding: 25px;
                font-size: 20px;
            }

            .title .fa-check-circle {
                font-size: 60px;
                margin-bottom: 20px;
            }

            .text-1 {
                color: #686868;
                font-weight: 500;
                letter-spacing: 0.5px;
                font-size: 20px;
            }

            .text-2 {
                color: #686868;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 0.5px;
            }

            .button {
                display: flex;
                justify-content: center;
                align-self: center;
                margin-top: 20px;
                padding: 5px 20px;
                gap: 10px;
                font-size: 16px;
                background-color: #2777c4;
                border-radius: 7px;
                border: none;
                color: white;
            }

            .button button:hover {
                opacity: 0.9;
            }
        }
    }

    .top-page {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        letter-spacing: 1px;
        justify-content: space-between;

        .groupDiv {
            display: flex;
        }

        img {
            color: #354ebc;
            padding-right: 10px;
            cursor: pointer;
        }

        .text-1 {
            font-size: 20px;
            font-weight: 300;
            color: #354ebc;
        }

        span {
            font-size: 20px;
            font-weight: 500;
            color: #354ebc;
        }

        .button {
            background-color: #354ebc;
            color: white;
            border: none;
            padding: 10px 50px;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;
            justify-content: end;
            font-size: 14px;
        }
    }

    .box {
        background-color: white;
        border-radius: 15px;
        overflow: auto;
        box-sizing: border-box;

        .box-padding {
            padding: 20px;
        }

        .upload-button {
            display: flex;
            gap: 20px;
            width: 100%;

            .button {
                display: flex;
                flex-direction: column;
                background-color: white;
                color: #666666;
                border: 1px dashed #524fa0;
                padding: 48px 20px;
                height: fit-content;
                border-radius: 10px;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                font-size: 14px;
            }

            .text-beside-upload {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        .text-box {
            font-size: 14px;
            font-weight: 400;
            color: black;
            margin-bottom: 10px;
            position: relative;

            svg {
                position: absolute;
                right: 15px;
                top: 60%;
                transform: translateY(-50%);
            }
        }

        span {
            font-size: 14px;
            color: #dc3545;
        }

        input {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $gray-border;
            margin-bottom: 10px;
            margin-top: 5px;
            font-size: 14px;
        }

        .select-wrapper-arrow {
            position: relative;
            width: 100%;
            margin-right: 10px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 18px;
                height: 19px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4.66699 7.16602L8.00033 9.83268L11.3337 7.16602' stroke='%239F9F9F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }

            select {
                width: 100%;
                border-radius: 10px;
                border: 1px solid $gray-border;
                background-color: white;
                padding: 11px 20px;
                appearance: none;
                font-size: 14px;
                color: black;
            }
        }

        .wrapper-upload {
            display: flex;
            width: 100%;
            padding: 40px 0;
            border-radius: 10px;
            border: 1px dashed #524FA0;;
            justify-content: center;
            align-items: center;
        }

        .box2 {
            display: flex;
            justify-content: center;
            align-self: center;
            width: 100%;
            margin: 10px 0;
            gap: 20px;

            .button-enter {
                display: flex;
                align-items: center;
                background-color: #354ebc;
                color: white;
                padding: 5px 40px;
                border-radius: 10px;
                margin-bottom: 6px;
            }

            .text-box {
                font-size: 14px;
                font-weight: 400;
                color: black;
                margin-bottom: 10px;
                width: 100%;
            }

            span {
                font-size: 14px;
                color: #dc3545;
            }

            input {
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid $gray-border;
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }

        .box3-out {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 20px;
            background-color: #f5f4f4;
            border-radius: 15px;
        }

        .box3Container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        .box3 {
            display: flex;
            gap: 20px;
            width: 100%;
        }

        .input-wrapper {
            position: relative;
            width: 100%;
        }

        .input1 {
            width: 100%;
            padding-right: 40px; /* To make space for the "Kg" */
        }

        .input-unit {
            position: absolute;
            right: 15px;
            top: 45%;
            transform: translateY(-50%);
            color: #999;
            pointer-events: none;
        }

        textarea {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $gray-border;
            margin-bottom: 10px;
            margin-top: 5px;
            font-size: 14px !important;
        }

        .input-alamat {
            height: 150px;
        }
    }
}
