.master-sopir-detail-df {
    margin: 40px;

    p,
    h1 {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: none;
        color: white;
    }

    .top-page {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        letter-spacing: 1px;
        justify-content: space-between;

        .groupDiv {
            display: flex;
        }

        img {
            color: #354EBC;
            padding-right: 10px;
            cursor: pointer;
        }

        .text-1 {
            font-size: 20px;
            font-weight: 300;
            color: #354EBC;
        }

        span {
            font-size: 20px;
            font-weight: 500;
            color: #354EBC;
        }

        .button {
            background-color: #354EBC;
            color: white;
            border: none;
            padding: 10px 50px;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;
            justify-content: end;
        }
    }

    .box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        border-radius: 15px;

        .under-map {
            display: flex;
            margin-top: 30px;
            margin-bottom: 20px;
            flex-direction: column;
            margin-left: 20px;

            .group {
                display: flex;
                position: relative;
                margin-bottom: 15px;

                .text {
                    color: #AEAEAE;
                    margin-left: 10px;
                    margin-top: 2px;

                    .text1 {
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 5px;
                    }

                    .text2 {
                        font-size: 11px;
                        font-weight: 500;
                    }
                }

                .text.active {
                    color: black;
                }

                .shape {
                    position: relative;
                    right: 5px;

                    .circle {
                        position: relative;
                        z-index: 1;
                    }

                    .line1 {
                        position: absolute;
                        top: 17px;
                        left: 7px;
                    }

                    .line2 {
                        position: absolute;
                        top: 30px;
                        left: 7px;
                    }
                }
            }
        }

        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #DBE9FF;

            p {
                font-size: 16px;
                color: #1768F2;
                margin-bottom: 15px;
            }

            .text-box2 {
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 20px;
                background-color: #FFC107;
                color: white;
                border-radius: 10px;
                margin-bottom: 15px;
            }
        }

        .top2 {
            width: 100%;
            display: flex;
            flex-direction: column;

            .text1 {
                color: #354EBC;
                font-weight: 500;
            }

            .text2 {
                color: #666666;
                font-size: 14px;
                font-weight: 500;
            }

            .text2-1 {
                color: #666666;
                font-size: 14px;
            }

            p {
                font-size: 16px;
                color: #1768F2;
                margin-bottom: 15px;
            }

            .text-box2 {
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 20px;
                background-color: #FFC107;
                color: white;
                border-radius: 10px;
                margin-bottom: 15px;
            }
        }

        .outer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;

            .right-side {
                margin-right: 100px;
            }

            .text-inside {
                .text1 {
                    font-size: 14px;
                    color: #686868;
                    font-weight: 400;
                    margin-bottom: 5px;

                }

                .text2 {
                    font-size: 14px;
                    color: black;
                    font-weight: 300;
                    margin-bottom: 15px;
                }

                img {
                    width: 100px;
                    border-radius: 10px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .table-box {
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        overflow: auto;
        box-sizing: border-box;
        position: relative;

        .dataTables_paginate .paginate_button a {
            border: none;
            padding: 2px 8px;
            margin: 0 2px;
            color: black;
            border: 1px solid #d9d9d9;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            align-self: center;
            border: 1px solid #d9d9d9;
            border-radius: 3px;
        }

        .dataTables_paginate .paginate_button a:hover {
            background-color: #fafafa;
        }

        .dataTables_paginate .paginate_button.active a {
            color: black;
            background-color: transparent;
            border: 1px solid #408df0;
            border-radius: 3px;
        }

        .dataTables_paginate {
            margin-top: 10px;
            margin-right: 10px;
            border: none;
        }

        .dataTables_paginate .paginate_button a:focus,
        .dataTables_paginate .paginate_button a:active {
            background-color: transparent;
            outline: none;
            box-shadow: none;
        }

        .dataTables_paginate .paginate_button:contains("…") a {
            border: none;
        }

        .dataTables_paginate {
            margin-top: 20px;
            margin-right: 20px;
        }

        .dataTables_info {
            font-size: 13px;
            font-weight: 400 !important;
            color: #666666;
            position: absolute;
            margin-top: 10px !important;
        }
        .menu-button {
            position: relative;
            text-align: center;
            display: flex;
            gap: 15px;
            justify-content: center;
            font-size: 18px;
        }

        .ellipsis-container {
            position: relative;
            display: flex;
        }

        .ellipsis-button {
            background: none;
            border: none;
            cursor: pointer;
            text-align: center;
            display: flex;
            padding: 0;
        }

        .modal-ellipsis {
            position: absolute;
            flex-direction: column;
            top: -15px;
            right: 25px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            display: none;
            z-index: 10;

            a {
                color: black;
                white-space: nowrap;
                font-weight: 300;
            }

            div {
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 10px 15px;
            }

            div:hover {
                background-color: #FAFAFA;
                border-radius: 10px;
            }
        }

        .status-active {
            padding: 10px;
            background-color: #E9F7EF;
            text-align: center;
            color: #28A745;
            border-radius: 10px;

            p {
                font-weight: 600;
            }
        }

        .status-inactive {
            padding: 10px;
            background-color: #FFC107;
            text-align: center;
            color: white;
            border-radius: 10px;

            p {
                font-weight: 600;
            }
        }

        .status-active2 {
            padding: 10px;
            background-color: #FFA500;
            text-align: center;
            color: white;
            border-radius: 10px;

            p {
                font-weight: 600;
            }
        }

        .status-inactive2 {
            padding: 10px;
            background-color: #1768F2;
            text-align: center;
            color: white;
            border-radius: 10px;

            p {
                font-weight: 600;
            }
        }

        table {
            width: 100% !important;

            &.dataTable thead .sorting:before,
            &.dataTable thead .sorting_asc:before,
            &.dataTable thead .sorting_desc:before,
            &.dataTable thead .sorting_asc_disabled:before,
            &.dataTable thead .sorting_desc_disabled:before,
            &.dataTable thead .sorting:after,
            &.dataTable thead .sorting_asc:after,
            &.dataTable thead .sorting_desc:after,
            &.dataTable thead .sorting_asc_disabled:after,
            &.dataTable thead .sorting_desc_disabled:after {
                color: #FAFAFA;
            }
        }

        th,
        td {
            border-bottom: 1px solid #ddd;
            padding: 20px 38px;
            text-align: left;
            font-size: 13px;
        }

        th {
            background-color: #FAFAFA;
            font-weight: 400;
        }

        th.sorting {
            background-image: url("/public/images/icon/sort2.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) center;
            padding-right: 40px;
            cursor: pointer;
        }

        th.sorting_asc {
            background-image: url("/public/images/icon/sort2.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) center;
            padding-right: 40px;
        }

        th.sorting_desc {
            background-image: url("/public/images/icon/sort2.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) center;
            padding-right: 40px;
        }

        /* Style pagination controls */
        .dataTables_paginate {
            margin-top: 20px;
            margin-right: 20px;
        }

        .dataTables_wrapper .dataTables_info {
            font-size: 13px;
            font-weight: 400;
            color: #666666;
            position: absolute;
            margin-top: 15px;
        }

        .modal-pencil {
            display: absolute;
            justify-content: center;
            align-items: center;
            background-color: #354EBC;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
        }
    }
}