.collection-form-detail-tracking {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a,
    p {
        margin: 0;
        padding: 0;
    }

    .status {
        padding: 7px 20px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        background-color: #ffc107;
        color: black;
        font-weight: 500;

        p {
            font-weight: 400;
        }

        &.Need_Approve,
        &.need_approve,
        &.Ongoing,
        &.ongoing,
        &.edit-excess {
            background-color: #ffa500;
            color: white;
        }

        &.Need_Revision,
        &.need_revision {
            background-color: #ffa500;
            color: white;
        }

        &.Excess,
        &.excess {
            background-color: #d884e4;
            color: white;
        }

        &.Regular,
        &.regular,
        &.hapus-missing {
            background-color: #1768f2;
            color: white;
        }

        &.Truck,
        &.truck {
            color: #354ebc;
            background-color: #d0d6fa;
        }

        &.Express,
        &.express {
            background-color: #ffa500;
            color: white;
        }

        &.Complete,
        &.complete,
        &.Done,
        &.done {
            background-color: #e9f7ef;
            color: #28a745;
        }

        &.kirim-saldo {
            background-color: #28a745;
            color: white;
        }

        &.Uncomplete,
        &.uncomplete {
            color: white;
            background-color: #ffa500;
        }

        &.Draft,
        &.draft {
            background-color: #d2d2d2;
            color: black;
        }

        &.Outstanding,
        &.outstanding,
        &.In-Trolley,
        &.in-trolley {
            background-color: #fdd9e1;
            color: #f4406b;
        }

        &.hapus-excess {
            background-color: #f4406b;
            color: white;
        }

        &.Partial_Outstanding,
        &.partial_outstanding {
            background-color: #ffa500;
            color: white;
        }

        &.Balance,
        &.balance {
            background-color: #e9f7ef;
            color: #28a745;
            margin: 0;
        }
    }

    display: flex;
    flex-direction: column;
    padding: 30px 30px;

    .top-page {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .select-wrapper-arrow {
            position: relative;
            width: 200px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 18px;
                height: 19px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4.66699 7.16602L8.00033 9.83268L11.3337 7.16602' stroke='%239F9F9F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }

            select {
                width: 200px;
                border-radius: 10px;
                border: 1px solid $gray-border;
                background-color: white;
                padding: 11px 20px;
                appearance: none;
                font-size: 14px;
                color: $gray-dark;
                letter-spacing: 0.5px;
            }
        }

        .left-side {
            display: flex;
            gap: 10px;
            align-items: center;

            p {
                font-size: 20px;
                font-weight: 300;
                color: #354ebc;

                span {
                    font-weight: 500;
                    color: #354ebc;
                }
            }

            img {
                cursor: pointer;
            }
        }

        .right-side {
            display: flex;
            gap: 10px;
            align-items: center;
            background-color: white;
            border: 1px solid #524fa0;
            border-radius: 10px;
            padding: 10px 20px;

            i {
                font-size: 18px;
                color: #524fa0;
            }

            a {
                display: flex;
                justify-content: center;
                align-self: center;
                font-size: 16px;
                border: none;
                color: #524fa0;

                button:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    .box {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;

        .group-text-1 {
            display: flex;
            gap: 20px;
            align-items: center;
            border-bottom: 1px solid $gray-border;

            .text-1 {
                font-size: 16px;
                font-weight: 400;
                color: black;
                padding-bottom: 5px;
            }

            .text-1.active {
                font-size: 16px;
                font-weight: 400;
                color: #408df0;
                border-bottom: 2px solid #408df0;
            }
        }

        .content-box {
            display: flex;
            flex-direction: column;

            .top-side {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid $gray-border;

                .left-side {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    justify-content: start;

                    .text-2 {
                        font-size: 15px;
                        font-weight: 400;
                        color: #686868;
                    }

                    .text-3 {
                        font-size: 18px;
                        color: black;
                    }
                }

                .right-side {
                    display: flex;
                    gap: 20px;

                    .button {
                        .text-5 {
                            background-color: #d2d2d2;
                            text-decoration: none;
                            color: black;
                            width: 120px;
                            padding: 7px 15px;
                            border-radius: 10px;
                            margin-top: 5px;
                            text-align: center;
                        }
                    }
                }
            }

            .bottom-side {
                display: flex;
                width: 100%;
                margin-top: 20px;

                .left-bottom,
                .right-bottom {
                    width: 50%;
                    display: flex;

                    .left-text {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        gap: 10px;

                        .text-1 {
                            color: #686868;
                            font-size: 15px;
                        }
                    }

                    .right-text {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        gap: 10px;

                        .text-2 {
                            color: black;
                            font-size: 15px;
                        }
                    }
                }
            }

            .bottom-side2 {
                display: flex;
                width: 100%;
                margin-top: 20px;

                .left-bottom {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    p {
                        color: #686868;
                        font-size: 15px;
                        margin-bottom: 5px;
                    }

                    img {
                        width: 125px;
                    }
                }

                .right-bottom {
                    width: 50%;
                    display: flex;
                    gap: 20px;
                    justify-content: end;
                    align-items: end;

                    .context {
                        width: 50%;

                        p {
                            color: #686868;
                            font-size: 15px;
                        }

                        input {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #354ebc;
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }

        .table-box {
            background-color: white;
            border-radius: 15px;
            padding: 10px 0;
            overflow: auto;
            box-sizing: border-box;

            .dataTables_paginate .paginate_button a {
                border: none;
                padding: 2px 8px;
                margin: 0 2px;
                color: black;
                border: 1px solid #d9d9d9;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                align-self: center;
                border: 1px solid #d9d9d9;
                border-radius: 3px;
            }

            .dataTables_paginate .paginate_button a:hover {
                background-color: #fafafa;
            }

            .dataTables_paginate .paginate_button.active a {
                color: black;
                background-color: transparent;
                border: 1px solid #408df0;
                border-radius: 3px;
            }

            .dataTables_paginate {
                margin-top: 10px;
                margin-right: 10px;
                border: none;
            }

            .dataTables_paginate .paginate_button a:focus,
            .dataTables_paginate .paginate_button a:active {
                background-color: transparent;
                outline: none;
                box-shadow: none;
            }

            .dataTables_paginate .paginate_button:contains("…") a {
                border: none;
            }

            .dataTables_paginate {
                margin-top: 20px;
                margin-right: 20px;
            }

            .dataTables_info {
                font-size: 13px;
                font-weight: 400 !important;
                color: #666666;
                position: absolute;
                margin-top: 10px !important;
            }

            .menu-button {
                position: relative;
                text-align: center;
                display: flex;
                gap: 15px;
                justify-content: center;
                font-size: 18px;
            }

            .ellipsis-container {
                position: relative;
                display: flex;
            }

            .ellipsis-button {
                background: none;
                border: none;
                cursor: pointer;
                text-align: center;
                display: flex;
                padding: 0;
            }

            .modal-ellipsis {
                position: absolute;
                flex-direction: column;
                top: -40px;
                right: 25px;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                display: none;
                z-index: 10;

                a {
                    color: black;
                    white-space: nowrap;
                    font-weight: 300;
                }

                div {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 15px;
                }

                div:hover {
                    background-color: #fafafa;
                    border-radius: 10px;
                }
            }

            .status-express {
                padding: 10px;
                background-color: #ffa500;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-regular {
                padding: 10px;
                background-color: #1768f2;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-need-revision {
                padding: 10px;
                background-color: #fdd9e1;
                text-align: center;
                color: #f4406b;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-need-approve {
                padding: 10px;
                background-color: #f4406b;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-draft {
                padding: 10px;
                background-color: #d2d2d2;
                text-align: center;
                color: black;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-uncomplete {
                padding: 10px;
                background-color: #ffa500;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-complete {
                padding: 10px;
                background-color: #e9f7ef;
                text-align: center;
                color: #28a745;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-dash {
                padding: 10px;
                background-color: #d2d2d2;
                text-align: center;
                color: black;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-outstanding {
                padding: 10px;
                background-color: #fdd9e1;
                text-align: center;
                color: #f4406b;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-partial-outstanding {
                padding: 10px;
                background-color: #ffa500;
                text-align: center;
                color: white;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            .status-balance {
                padding: 10px;
                background-color: #e9f7ef;
                text-align: center;
                color: #28a745;
                border-radius: 10px;

                p {
                    font-weight: 600;
                }
            }

            table {
                width: 100% !important;
                border-collapse: collapse;

                &.dataTable thead .sorting:before,
                &.dataTable thead .sorting_asc:before,
                &.dataTable thead .sorting_desc:before,
                &.dataTable thead .sorting_asc_disabled:before,
                &.dataTable thead .sorting_desc_disabled:before,
                &.dataTable thead .sorting:after,
                &.dataTable thead .sorting_asc:after,
                &.dataTable thead .sorting_desc:after,
                &.dataTable thead .sorting_asc_disabled:after,
                &.dataTable thead .sorting_desc_disabled:after {
                    color: #fafafa;
                }
            }

            th,
            td {
                border-bottom: 1px solid #ddd;
                padding: 20px 20px;
                text-align: left;
                font-size: 13px;
                white-space: nowrap;

                .padding-box-table {
                    padding: 8px 10px;
                    background-color: #ffc107;
                    text-align: center;
                    border-radius: 10px;
                }
            }

            th {
                background-color: #fafafa;
                font-weight: 400;
            }

            /* Style pagination controls */
            .dataTables_paginate {
                margin-top: 20px;
                margin-right: 20px;
            }

            .dataTables_wrapper .dataTables_info {
                font-size: 13px;
                font-weight: 400;
                color: #666666;
                position: absolute;
                margin-top: 15px;
            }

            .modal-pencil {
                display: absolute;
                justify-content: center;
                align-items: center;
                background-color: #354ebc;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
            }
        }
    }
}
