.master-truck-report {
    margin: 40px;

    p,
    h1 {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: none;
        color: white;
    }

    .image-container {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid $gray-border;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 14px;
    }

    .pop-up-ubah {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: none;
        justify-content: center;
        align-items: center;

        .card {
            z-index: 10;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 90%;
            padding: 0px;
            box-sizing: border-box;
            position: relative;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                font-weight: 500;
                padding: 25px;
                font-size: 20px;
                border-bottom: 1px solid #ddd;
            }

            .title .fa-times-circle {
                font-size: 20px;
                position: absolute;
                right: 20px;
            }

            .content2 {
                margin: 0 20px;
                margin-bottom: 20px;

                p {
                    color: #666666;
                    font-size: 13px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }
            }

            .border2 {
                border-bottom: 1px solid #dbe9ff;
            }

            .select-wrapper-arrow {
                position: relative;
                width: 100%;
                margin-right: 10px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    width: 18px;
                    height: 19px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4.66699 7.16602L8.00033 9.83268L11.3337 7.16602' stroke='%239F9F9F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                select {
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid $gray-border;
                    background-color: white;
                    padding: 13px 20px;
                    appearance: none;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: normal;
                    color: $gray-dark;
                    letter-spacing: 0.5px;
                }
            }

            .button {
                display: flex;
                justify-content: center;
                align-self: center;
                width: 100%;
                margin: 15px 0;
                gap: 10px;
            }

            .button2 {
                width: 100%;
                box-sizing: border-box;
                background-color: #4259c1;
                color: #fff;
                border: none;
                margin: 0;
                padding: 13px 0;
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
                margin-right: 21px;
            }

            .button1 {
                background-color: white;
                color: black;
                border: 1px solid $gray-border;
                margin-left: 21px;
                width: 100%;
                box-sizing: border-box;
                padding: 13px 0;
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
            }

            .button1 button:hover {
                opacity: 0.9;
            }

            .button2 button:hover {
                opacity: 0.9;
            }
        }
    }

    .pop-up-hapus {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: none;
        justify-content: center;
        align-items: center;

        .card {
            z-index: 10;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 90%;
            padding: 0px;
            box-sizing: border-box;
            position: relative;

            .title {
                display: flex;
                align-items: center;
                font-weight: 400;
                padding: 25px;
                font-size: 17px;
                gap: 15px;

                i {
                    font-size: 25px;
                }
            }

            .content2 {
                margin: 0 20px;
                margin-bottom: 20px;

                p {
                    color: #666666;
                    font-size: 13px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }
            }

            .border2 {
                border-bottom: 1px solid #dbe9ff;
            }

            .select-wrapper-arrow {
                position: relative;
                width: 100%;
                margin-right: 10px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    width: 18px;
                    height: 19px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4.66699 7.16602L8.00033 9.83268L11.3337 7.16602' stroke='%239F9F9F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                select {
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid $gray-border;
                    background-color: white;
                    padding: 13px 20px;
                    appearance: none;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: normal;
                    color: $gray-dark;
                    letter-spacing: 0.5px;
                }
            }

            .button {
                display: flex;
                justify-content: end;
                margin-bottom: 15px;
                gap: 10px;
            }

            .button2 {
                width: 100%;
                box-sizing: border-box;
                background-color: #4259c1;
                width: 70px;
                color: #fff;
                border: none;
                margin: 0;
                padding: 13px 0;
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
                margin-right: 21px;
            }

            .button1 {
                background-color: white;
                color: black;
                border: 1px solid $gray-border;
                margin-left: 21px;
                width: 90px;
                box-sizing: border-box;
                padding: 13px 0;
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
            }

            .button1 button:hover {
                opacity: 0.9;
            }

            .button2 button:hover {
                opacity: 0.9;
            }
        }
    }

    .pop-up-img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        display: none;
        justify-content: center;
        align-items: center;

        i {
            position: fixed;
            font-size: 30px;
            top: 50px;
            right: 50px;
            cursor: pointer;
        }

        #selectedImage {
            width: 50%;
        }

        .arrow-custom {
            position: absolute;
            font-size: 60px;
            top: 50%;
            color: white;
        }

        div {
            display: flex;
            gap: 20px;
            position: fixed;
            top: 77%;
            justify-content: center;

            img {
                width: 10%;
                border-radius: 10px;
            }

            img.active {
                border: 2px solid #354ebc;
            }
        }
    }

    .top-page {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        letter-spacing: 1px;
        justify-content: space-between;

        .groupDiv {
            display: flex;
        }

        img {
            color: #354ebc;
            padding-right: 10px;
            cursor: pointer;
        }

        .text-1 {
            font-size: 20px;
            font-weight: 300;
            color: #354ebc;
        }

        span {
            font-size: 20px;
            font-weight: 500;
            color: #354ebc;
        }

        .button {
            background-color: #354ebc;
            color: white;
            border: none;
            padding: 10px 50px;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;
            justify-content: end;
        }
    }

    .top-page2 {
        margin-bottom: 20px;
        width: 100%;

        .search-bar {
            width: 55%;
            margin-right: 10px;
        }

        .search-input-container {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
        }

        input {
            width: 100%;
            border-radius: 10px;
            border: 1px solid $gray-border;
            background-color: white;
            padding: 11px 20px 11px 45px;
            appearance: none;
            font-size: 14px;
            color: black;
            align-items: center;
        }

        input::placeholder {
            color: #aeaeae;
        }

        .search-icon {
            position: absolute;
            left: 15px;
        }

        .search-icon i {
            font-size: 16px;
            color: #686868;
            align-items: center;
        }

        .select-wrapper-arrow {
            position: relative;
            width: 15%;
            margin-right: 10px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 18px;
                height: 19px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4.66699 7.16602L8.00033 9.83268L11.3337 7.16602' stroke='%239F9F9F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }

            select {
                width: 100%;
                border-radius: 10px;
                border: 1px solid $gray-border;
                background-color: white;
                padding: 11px 20px;
                appearance: none;
                font-size: 16px;
                font-weight: 300;
                line-height: normal;
                color: $gray-dark;
                letter-spacing: 0.5px;
            }
        }

        .dropdown-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .dropdown-size {
            flex: 1;
            margin-right: 10px;
        }

        .dropdown {
            width: 100%;
            padding: 12px 20px;
            border: 1px solid $gray-border;
            border-radius: 10px;
            color: #aeaeae;
            font-weight: 300;
            background-color: white;
        }

        .button {
            background-color: #354ebc;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
        }
    }

    .table-box {
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        overflow: auto;
        box-sizing: border-box;
        position: relative;

        .dataTables_paginate .paginate_button a {
            border: none;
            padding: 2px 8px;
            margin: 0 2px;
            color: black;
            border: 1px solid #d9d9d9;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            align-self: center;
            border: 1px solid #d9d9d9;
            border-radius: 3px;
            z-index: 0;
        }

        .dataTables_paginate .paginate_button a:hover {
            background-color: #fafafa;
        }

        .dataTables_paginate .paginate_button.active a {
            color: black;
            background-color: transparent;
            border: 1px solid #408df0;
            border-radius: 3px;
        }

        .dataTables_paginate {
            margin-top: 10px;
            margin-right: 10px;
            border: none;
        }

        .dataTables_paginate .paginate_button a:focus,
        .dataTables_paginate .paginate_button a:active {
            background-color: transparent;
            outline: none;
            box-shadow: none;
        }

        .dataTables_paginate .paginate_button:contains("…") a {
            border: none;
        }

        .dataTables_paginate {
            margin-top: 20px;
            margin-right: 20px;
        }

        .dataTables_info {
            font-size: 13px;
            font-weight: 400 !important;
            color: #666666;
            position: absolute;
            margin-top: 10px !important;
        }

        .menu-button {
            position: relative;
            text-align: center;
            display: flex;
            gap: 15px;
            justify-content: center;
            font-size: 18px;
        }

        .ellipsis-container {
            position: relative;
            display: flex;
        }

        .ellipsis-button {
            background: none;
            border: none;
            cursor: pointer;
            text-align: center;
            display: flex;
            padding: 0;
        }

        .modal-ellipsis {
            position: absolute;
            flex-direction: column;
            top: -15px;
            right: 25px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            display: none;
            z-index: 10;

            a {
                color: black;
                white-space: nowrap;
                font-weight: 300;
            }

            div {
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 10px 15px;
            }

            div:hover {
                background-color: #fafafa;
                border-radius: 10px;
            }
        }

        .status-active {
            padding: 10px;
            background-color: #e9f7ef;
            text-align: center;
            color: #28a745;
            border-radius: 10px;

            p {
                font-weight: 600;
            }
        }

        .status-inactive {
            padding: 10px;
            background-color: #fddae1;
            text-align: center;
            color: #f4406b;
            border-radius: 10px;

            p {
                font-weight: 600;
            }
        }

        table {
            width: 100% !important;
            border-collapse: collapse;

            &.dataTable thead .sorting:before,
            &.dataTable thead .sorting_asc:before,
            &.dataTable thead .sorting_desc:before,
            &.dataTable thead .sorting_asc_disabled:before,
            &.dataTable thead .sorting_desc_disabled:before,
            &.dataTable thead .sorting:after,
            &.dataTable thead .sorting_asc:after,
            &.dataTable thead .sorting_desc:after,
            &.dataTable thead .sorting_asc_disabled:after,
            &.dataTable thead .sorting_desc_disabled:after {
                color: #fafafa;
            }
        }

        th,
        td {
            border-bottom: 1px solid #ddd;
            padding: 20px 20px;
            text-align: left;
            font-size: 13px;
        }

        th {
            background-color: #fafafa;
            font-weight: 400;
        }

        th.sorting {
            background-image: url("/public/images/icon/sort2.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) center;
            padding-right: 40px;
            cursor: pointer;
        }

        th.sorting_asc {
            background-image: url("/public/images/icon/sort2.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) center;
            padding-right: 40px;
        }

        th.sorting_desc {
            background-image: url("/public/images/icon/sort2.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 20px) center;
            padding-right: 40px;
        }

        /* Style pagination controls */
        .dataTables_paginate {
            margin-top: 20px;
            margin-right: 20px;
        }

        .dataTables_wrapper .dataTables_info {
            font-size: 13px;
            font-weight: 400;
            color: #666666;
            position: absolute;
            margin-top: 15px;
        }

        .modal-pencil {
            display: absolute;
            justify-content: center;
            align-items: center;
            background-color: #354ebc;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
        }
    }
}
